<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Twitterfake</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<body>

<br><br><br><br><br><br><br><br>
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "1928786.jpg" %>">
</section>

<!--
  <header>
  <ul>
    <li><class="glyphicon glyphicon-home"><a href="#">トップページ</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">ブログ</a></li>
  </ul>
</header>

<section class="about">
  <h2>About Achieve</h2>
  <p>Achieveは受講生のためにつくられた教材<br>
    Achieveを作ることでSecondTeamに参加する力を身につけます。
  </p>
  <p>Achieveはタスク管理アプリです。<br>
    チームメンバが今どのようなタスクを行っているかリアルタイムで把握できる。
  </p>
</section>
-->
  
<footer>
  <p>運営会社トリックマーケット</p>
  <p>© 2017 Copyright Trick Market.</p>
</footer>

</body>
</html>