<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>fakeboku</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">

</head>
<body>

     <% if user_signed_in? %>
<% @topics = Topic.order(created_at: :desc).all unless @topic %>
    <%= render :template => 'topics/index' %>
    <% else %>

  <section class="function container-fluid">
    <div class="row">
      <div class="col-md-6">
        <%= render :template =>"devise/registrations/new"  %>
      </div>
      <div class="col-md-6">
        <%= render :template =>"devise/sessions/new"  %>
      </div>
    </div>
  </div>
 </section>
    <% end %>

  
<footer>
  <p>運営会社トリックマーケット</p>
  <p>© 2017 Copyright Trick Market.</p>
</footer>

</body>
</html>