// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  color: #3b5998;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }

  background: white;
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

.container-fluid{
  background-image: image-url("test.png");
}

body {
    text-align: center;
    background-image: image-url("test.png");
    background-attachment:fixed;    
    color: #3b5998;
}